.masthead {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../assets/theSwamp.jpg')
}

.siteBackground {
    background-color: #488368;
}

.textBackground {
    opacity: 0.6;
    margin: 30px;
    background-color: black;
}